#hole{
	background-color: black;
}



#projecttitle{
	color: red;
}


#sitedes{
	color: blue;
}


#selfport{
	color:blue;
}


#projdes{
	color:lightblue;
}


#self{
	color:lightblue;
}


.paragraphs{ 
	background-color: black;
	color: white;
	border: 2px solid lightblue;
	font-size: 19px;
 }


 #bood{ 
 background-color: black
 

  }




